
<h2> details from http </h2>
<ul *ngFor= " let emp of employees.data">
<li>  {{ emp.id}} {{emp.name}} {{emp.age}} </li>

</ul>
 <button class="btn btn-primary" (click)="onGet()" [disabled]="!showButton"> Get Data</button>
 <alert type="success" > hello</alert>
